


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (max-width: 768px) {
  .main{ margin-top: 10%; margin-left: 5%; margin-right: 5%}
}
@media (min-width: 769px) {
  .main{ margin-top: 5%; width: 65%; float: left; margin-left: 15%}
}

@keyframes lightUp {
  0% {
    background-color: #0d1640;
  }
  50% {
    color: #ff5e00;
    border-color: #ff5e00;
    transform: scale(1.2);
  }
  100% {
    background-color: #0d1640;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    margin-top: -100px;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.highlight {
  animation: lightUp 2s;
}

.fade-in{ 
  animation: fade-in 3s; 
}

.text-header { margin-bottom: 60px; font-size: 8em; text-shadow: -1px 9px 0 #000 }

.text-loud { font-size: 5em }

.text-body { font-size: 3em }

.text-quiet { font-size: 2em }

.text-white-custom { color: #dbd9d9; text-shadow: -1px 2px 0 #000 }

.background-blue { background-color: #0d1640 }
