.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-header { font-size: 10em; text-shadow: -1px 9px 0 #000 }

.text-loud { font-size: 5em }

.text-body { font-size: 3em }

.text-quiet { font-size: 2em }

.text-white-custom { color: #dbd9d9; text-shadow: -1px 2px 0 #000 }

.background-blue { background-color: #0d1640 }
